<html lang="us">
    <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
<%- include('./include/header.ejs') %>

<body>
    <%- include('./include/top.ejs')  %>
    <%- include('./include/center_left_nav.ejs')  %>
    <div class="central-brief-message"></div>
    <form action="/appointment" method="post">
        <div class="central-form">
            <div style="background-color: rgb(231, 216, 216);letter-spacing: 1px;padding: 5px;">
                <label> Your Name: </label>
            </div>
            <div>
                <input type="text" id="customer_name" name="customer_name" placeholder="Your name.." required>
            </div>
            <div style="background-color: rgb(231, 216, 216);letter-spacing: 1px;padding: 5px;">
                <label>Time:</label>
            </div>
            <div>
                <input type="text" id="appointment" name="appointment" placeholder="Enter your desired time.." required>
            </div>
            <div style="background-color: rgb(231, 216, 216);letter-spacing: 1px;padding: 5px;">
                <label>Date:</label>
            </div>
            <div>
                <%- include('./include/calendar.ejs') %>
            </div>
            <div style="background-color: rgb(231, 216, 216);letter-spacing: 1px;padding: 5px;">
                <label>Employee Name:</label>
            </div>
            <div>
                <select id="employee_name" name="employee_name">
                <% 
                    empModels.forEach(empModel =>{%>
                        <option value="<%=empModel.first_name%>&nbsp;<%=empModel.last_name%>
                            <br>Phone:&nbsp;&nbsp;<%=empModel.phone%>
                            <br>Availability:&nbsp;&nbsp;<%=empModel.availability%>
                            <br>Work Schedule:&nbsp;&nbsp;<%=empModel.work_schedule%>
                            <br>Skill:&nbsp;&nbsp;<%=empModel.skill%>
                            <br>Rating:&nbsp;&nbsp; ******
                            <br>Comment:&nbsp;&nbsp; <%=empModel.comment_count%> 
                        ">
                            <%=empModel.first_name%>&nbsp;<%=empModel.last_name%>
                        </option>
                        
                <%})%>
                </select>
            </div>
            <div>
                <label  style="background-color: rgb(231, 216, 216);letter-spacing: 2px;padding: 5px;">Notes:</label>
            </div>
            <div>
                <textarea  id="note" name="note" placeholder="Write something.." style="height:95px"></textarea>
            </div>
            <div>
                <label></label>
            </div>

            <div class="modal" id="modal">
                <div class="modal-header" id="modal-header">
                    <div class="title" id="title">Employee Information</div>
                    <button class="close-button" id="close-button">&times;</button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
            </div>
            <div>
                <input style="background-color: var(--button-background-color);" type="submit" value="Submit">
            </div>
        </div>
    </form>
    <%- include('./include/termAgreement.ejs') %>

    <script>
        function hello(temp){
            alert(temp)
        }

        let employeeList = document.getElementById("employee_name");
        employeeList.addEventListener(
            "click",() => {
                
                let collection = employeeList.selectedOptions;
                let output = "";
                for (let i = 0; i < collection.length; i++) {
                    //output = collection[i].label
                    output = collection[i].value
                }

                //alert(output)
                var element = document.getElementById("modal");
                element.style.opacity = "1";
                document.getElementById("modal-body").innerHTML = output;
            }
        )

        document.getElementById("customer_name").addEventListener(
            "click",() => {
                document.getElementById("modal").style.opacity = "0";
            }
        )

        document.getElementById("note").addEventListener(
            "click",() => {
                document.getElementById("modal").style.opacity = "0";
            }
        )

        document.getElementById("appointment").addEventListener(
            "click",() => {
                document.getElementById("modal").style.opacity = "0";
            }
        )

        document.getElementById("close-button").addEventListener(
            "click",() => {
                document.getElementById("modal").style.opacity = "0";
            }
        )
            
    </script>
</body>
</html>
