<html lang="us">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="detail content">
            <h2><%=blog.title %></h2>
            <div class="content"><p><%=blog.body %></p></div>
        </div>        
    </body>
    <%- include('./partials/footer.ejs') %>
</html>