<html lang="us">
<%- include('./include/header.ejs') %>
<body>
    <%- include('./include/top.ejs')  %>
    <%- include('./index_intro.ejs') %>
    <%- include('./index_team.ejs') %>
    <%- include('./index_product.ejs') %>
    <%- include('./index_supply.ejs') %>
    <%- include('./index_promotion.ejs') %>
    <%- include('./include/termAgreement.ejs') %>
</body>
</html>
