<html lang="us">
<%- include('./include/header.ejs') %>
<style>
    /* iphone 6, 6s, 7, 8 */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
       .central-appointment{
            margin-right: 20px;
       }
    }
</style>
<body>
    <%- include('./include/top.ejs')  %>
    <%- include('./include/center_left_nav.ejs')  %>
    
    <% if(apptModels.length >0){ 
        apptModels.forEach(apptModel =>{%>
            <div class="central-appointment" style="font-family: 'Roboto',sans-serif;">
                Your Name:&nbsp;&nbsp;&nbsp;&nbsp;<%=apptModel.customer_name %>
                <br>Your Appointment:&nbsp;&nbsp;<%=apptModel.appointment %>
                <br>Your assistant:&nbsp;&nbsp;<%=apptModel.employee_name %>
                <br>Job:&nbsp;&nbsp;<%=apptModel.note %>
            </div>
        <%})%>
    <% } else{%>
        <div class="central-appointment">
            <h3 class="title">No record available</h3>
        </div>
    <% } %>
    <%- include('./include/termAgreement.ejs') %>
</body>
</html>