<html lang="us">
<%- include('./include/header.ejs') %>
<body>
    <%- include('./include/top.ejs')  %>
    <%- include('./include/center_left_nav.ejs')  %>
    <div class="central-brief-message"></div>
    <form action="/register" method="post">
        <div class="central-form">
            <% if(err) { %>
                <p style="color: red;"><%= err %></p>
            <% } %>
            <div>
                <label>User Name: </label>
            </div>
            <div>
                <input type="text" id="user_name" name="user_name" required>
            </div>
            <div>
                <label>Email: </label>
            </div>
            <div>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label>Password: </label>
            </div>
            <div>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label></label>
            </div>
            <div>
                <input style="background-color: var(--button-background-color);" type="submit" value="Register">
            </div>
            <div>
                <a href="/login"><button type="button" style="color:white;background-color: var(--button-background-color);border-radius: 20px;">Login</button></a>
            </div>
        </div>
    </form>
    <%- include('./include/termAgreement.ejs') %>

</body>
</html>