<html lang="us">
<%- include('./include/header.ejs') %>
<body>
    <%- include('./include/top.ejs')  %>
    <%- include('./service_hand.ejs') %>
    <%- include('./service_foot.ejs') %>
    <%- include('./service_combo.ejs') %>
    <%- include('./include/termAgreement.ejs') %>
</body>
</html>